
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIRX - Best Service Airlines</title>

    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/formpage.css">

</head>
<body>
<header>
    <div class="wrapper">
        <a href="index.blade.php"><img src="images/airx_logo.png" alt="logo" class="logo"></a>
        <nav>
            <ul class="cl-dk">
                <li>
                    <a href="ucenter.blade.php">My Account</a>
                </li>
                <li><a href="check_in.blade.php">Check In</a></li>
                <li><a href="search.blade.php">Plan and Book</a></li>
                <li><a href="index.blade.php">Home</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="banner thin">
    <div class="wrapper cl-wt">
        <h1>Login</h1>
    </div>
</section>
<main class="fz-16">
    <div class="wrapper">
        <p class="cl-gr register-now">Haven’t an AIRX account?&nbsp;&nbsp;&nbsp;<a href="register.html" class="lk-ul">REGISTER NOW>></a></p>
        <p>
        </p>
        <form action="ucenter.blade.php" class="info-form" method="POST" >
            <div class="form-row cl-dk"><b>Login via your AIRX account:</b></div>
            <p class="cl-og"></p>
            <div class="form-row flex">
                <div class="field-name"><label class="cl-gr">USERNAME</label></div>
                <div class="field-input"><input type="text" title="username" class="input big"></div>
            </div>
            <p class="cl-og"></p>
            <div class="form-row flex">
                <div class="field-name"><label class="cl-gr">PASSWORD</label></div>
                <div class="field-input"><input type="password" title="password" class="input big"></div>
            </div>
            <div class="form-row ta-rt">
                <input type="submit" class="bt-lt tt-uc" value="Login >">
            </div>
        </form>
    </div>
</main>
<footer>
    <div class="wrapper fz-18 cl-dk">
        <img src="images/co2zer_icon.png" alt="co2zer">
        <a href="http://www.skyteam.com">www.skyteam.com</a>
        <a href="index.blade.php">www.airx.com</a>
    </div>
</footer>
</body>
</html>
