
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIRX - Best Service Airlines</title>

    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/formpage.css">
    <link rel="stylesheet" href="css/check_in.css">

</head>
<body>
<header>
    <div class="wrapper">
        <a href="index.blade.php"><img src="images/airx_logo.png" alt="logo" class="logo"></a>
        <nav>
            <ul class="cl-dk">
                <li><a href="check_in.blade.php"><< Cancel</a></li>
            </ul>
        </nav>
    </div>
</header>
<main class="bg-eee">
    <div class="wrapper">
        <div class="content-container bg-wt br-sm fz-14 cl-gr">
            <div class="title-line">
                <b class="cl-md fz-24 bg-wt">Check In</b>
            </div>
            <div class="order br-sm">
                <div class="order-head bg-eee">
                    <span class="order-time cl-999">2017-03-13 12:20:16</span>
                    <span class="order-no"><b class="cl-dk">Order No:</b> 2</span>
                </div>
                <div class="order-detail flex">
                    <div class="order-col flex">
                        <span class="cl-dk fw-bd">Beijing - Shanghai</span>
                        <span><b class="cl-dk">Flight No:</b> RW426</span>
                        <span><b class="cl-dk">Departure Time: </b>03:59 14/03/2017</span>
                    </div>
                    <div class="order-col flex">
                        <div class="ticket-amount"><b class="cl-dk">Ticket Amount:</b> 3</div>
                        <div class="ticket-guests cl-dk flex ta-ct">
                            <span class="guest-name">Steven Dragon</span>
                            <span class="guest-name">Tester II</span>
                            <span class="guest-name">Phil Marcus</span>
                        </div>
                    </div>
                    <div class="order-col ta-ct ct-ctn">
                        <div class="ticket-status ct-ele">
                            <b class="cl-dk">Ticket Status: </b><br>
                            Check-in available
                        </div>
                    </div>
                    <div class="order-col ct-ctn">
                        <a href="select_seat.html">
                            <button class="check-in-button ct-ele bt-lt br-sm">CHECK IN &gt;</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="order br-sm">
                <div class="order-head bg-eee">
                    <span class="order-time cl-999">2017-03-13 12:58:34</span>
                    <span class="order-no"><b class="cl-dk">Order No:</b> 3</span>
                </div>
                <div class="order-detail flex">
                    <div class="order-col flex">
                        <span class="cl-dk fw-bd">Guangzhou - Xiamen</span>
                        <span><b class="cl-dk">Flight No:</b> WJ3444</span>
                        <span><b class="cl-dk">Departure Time: </b>17:05 15/03/2017</span>
                    </div>
                    <div class="order-col flex">
                        <div class="ticket-amount"><b class="cl-dk">Ticket Amount:</b> 3</div>
                        <div class="ticket-guests cl-dk flex ta-ct">
                            <span class="guest-name">Steven Dragon</span>
                            <span class="guest-name">Tester I</span>
                            <span class="guest-name">Tester II</span>
                        </div>
                    </div>
                    <div class="order-col ta-ct ct-ctn">
                        <div class="ticket-status ct-ele">
                            <b class="cl-dk">Ticket Status: </b><br>
                            Check-in available
                        </div>
                    </div>
                    <div class="order-col ct-ctn">
                        <a href="select_seat.html">
                            <button class="check-in-button ct-ele bt-lt br-sm">CHECK IN &gt;</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="order br-sm">
                <div class="order-head bg-eee">
                    <span class="order-time cl-999">2017-03-13 12:58:45</span>
                    <span class="order-no"><b class="cl-dk">Order No:</b> 4</span>
                </div>
                <div class="order-detail flex">
                    <div class="order-col flex">
                        <span class="cl-dk fw-bd">Qingyuan - Shenzhen</span>
                        <span><b class="cl-dk">Flight No:</b> EJ5564</span>
                        <span><b class="cl-dk">Departure Time: </b>02:11 15/03/2017</span>
                    </div>
                    <div class="order-col flex">
                        <div class="ticket-amount"><b class="cl-dk">Ticket Amount:</b> 1</div>
                        <div class="ticket-guests cl-dk flex ta-ct">
                            <span class="guest-name">Phil Marcus</span>
                        </div>
                    </div>
                    <div class="order-col ta-ct ct-ctn">
                        <div class="ticket-status ct-ele">
                            <b class="cl-dk">Ticket Status: </b><br>
                            Check-in available
                        </div>
                    </div>
                    <div class="order-col ct-ctn">
                        <a href="select_seat.html">
                            <button class="check-in-button ct-ele bt-lt br-sm">CHECK IN &gt;</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="wrapper fz-18 cl-dk">
        <img src="images/co2zer_icon.png" alt="co2zer">
        <a href="http://www.skyteam.com">www.skyteam.com</a>
        <a href="index.blade.php">www.airx.com</a>
    </div>
</footer>
</body>
</html>
